# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - README.md
    - /adr/*
    - .adr-dir

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.x'
  displayName: 'Install Node.js'
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.6'
    architecture: 'x64'
- script: |
    echo 'everything should be there'
  displayName: 'setup credentials & dependencies'
- script: |
    cd ./scripts && pip install -r requirements.txt && python deploy-infrastructure.py -c infrastructure -ni True
  env:
      AWS_ACCESS_KEY_ID: $(aws.accesskey)
      AWS_SECRET_ACCESS_KEY: $(aws.accesssecret)
      CYPRESS_TEST_USER_PW: $(CYPRESS_TEST_USER_PW)
      CYPRESS_TEST_USER: $(CYPRESS_TEST_USER)
  displayName: 'setup infrastructure'
- script: |
    cp ./infrastructure/config.json ./src/config.json
- script: |
    npm config set '@bit:registry' https://node.bit.dev
    npm install 
    npm run build
  displayName: 'install dependencies and build'
- script: |
    npm run e2e
  env:
    CYPRESS_TEST_USER_PW: $(CYPRESS_TEST_USER_PW)
    CYPRESS_TEST_USER: $(CYPRESS_TEST_USER)
  displayName: 'run e2e tests'
- script: |
    # setup preview environment & artifact bucket & upload to artifiact bucket
    cd ./scripts && ./deploy-infrastructure.py -c website
  env:
      AWS_ACCESS_KEY_ID: $(aws.accesskey)
      AWS_SECRET_ACCESS_KEY: $(aws.accesssecret)
  displayName: 'Deploy to preview environment'